<!DOCTYPE html>

<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>Webbtjänst Projekt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/main.js"></script>
    <link rel="shortcut icon" type="image/png" sizes="96x96" href="https://data.riksdagen.se/ui/img/favicons/favicon-96x96.png"/>
</head>

<h1>API - Riksdagen</h1>
<input type="text" id="search" placeholder="Sök efter personer..." autocomplete="off">
<div class="filter">
    <input type="checkbox" value="M">Moderaterna</option>
    <input type="checkbox" value="S">Socialdemokraterna</option>
    <input type="checkbox" value="SD">Sverigedemokraterna</option>
    <input type="checkbox" value="V">Vänsterpartiet</option>
    <input type="checkbox" value="C">Centerpartiet</option>
    <input type="checkbox" value="KD">Kristdemokraterna</option>
    <input type="checkbox" value="L">Liberalerna</option>
    <input type="checkbox" value="MP">Miljöpartiet</option>
</div>
<h2></h2>
<ul id="list-people">
    <!--Personer visas här-->
</ul>

</html>
