body {
    font-family: 'Roboto', sans-serif;
    max-width: 1250px;
    text-align: center;
    margin: 0 auto;
}

#list-people {
    text-align: center;
    align-items: center;
    padding: 0px;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

li {
    list-style-type: none;
}

li > img {
    padding: 10px;
}

.filter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 400px;
    text-align: start;
    float: left;
    padding-left: 100px;
}